<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>ຄົ້ນນຫາໂຮງແຮມປາຍທາງ</ion-title>
    <!-- <ion-buttons slot="primary">
      <ion-button color="secondary">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper_content2">
    <div class="child_content2">
      <ion-icon name="search-outline"></ion-icon>
      <input type="text" placeholder="ເມືອງ,ໂຮງແຮມ,ສະຖານທີ່ສຳຄັນ" />
    </div>
  </div>
  <div class="wrapper_content4">
    <div class="child_content4">
    <div class="icon">
      <ion-icon name="location-outline"></ion-icon>
    </div>
    <div class="contentext">
      <div class="province">
        <h4>ແຂວງ: ນະຄອນຫຼວງ,ລາວ</h4>
      </div>
      <div class="village">
        <p>ເມືອງ: ສີໂຄດຕະບອງ,ນາເລົ່າ</p>
      </div>
    </div>
    </div>
  </div>
  <div class="wrapper_content3">
    <h5>ປະຫວັດການຄົ້ນຫາ</h5>
  </div>
  <div class="wrapper_content4">
    <div class="child_content4">
    <div class="icon">
      <ion-icon name="location-outline"></ion-icon>
    </div>
    <div class="contentext">
      <div class="province">
        <h4>ແຂວງ: ນະຄອນຫຼວງ,ລາວ</h4>
      </div>
      <div class="village">
        <p>ເມືອງ: ສີໂຄດຕະບອງ,ນາເລົ່າ</p>
      </div>
    </div>
    </div>
  </div>
  <div class="wrapper_content4">
    <div class="child_content4">
    <div class="icon">
      <ion-icon name="location-outline"></ion-icon>
    </div>
    <div class="contentext">
      <div class="province">
        <h4>ແຂວງ: ນະຄອນຫຼວງ,ລາວ</h4>
      </div>
      <div class="village">
        <p>ເມືອງ: ສີໂຄດຕະບອງ,ນາເລົ່າ</p>
      </div>
    </div>
    </div>
  </div><div class="wrapper_content4">
    <div class="child_content4">
    <div class="icon">
      <ion-icon name="location-outline"></ion-icon>
    </div>
    <div class="contentext">
      <div class="province">
        <h4>ແຂວງ: ນະຄອນຫຼວງ,ລາວ</h4>
      </div>
      <div class="village">
        <p>ເມືອງ: ສີໂຄດຕະບອງ,ນາເລົ່າ</p>
      </div>
    </div>
    </div>
  </div><div class="wrapper_content4">
    <div class="child_content4">
    <div class="icon">
      <ion-icon name="location-outline"></ion-icon>
    </div>
    <div class="contentext">
      <div class="province">
        <h4>ແຂວງ: ນະຄອນຫຼວງ,ລາວ</h4>
      </div>
      <div class="village">
        <p>ເມືອງ: ສີໂຄດຕະບອງ,ນາເລົ່າ</p>
      </div>
    </div>
    </div>
  </div>
</ion-content>
