<!-- <ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-padding">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="wrapper_header">
    <div class="img">
      <img src="../../assets/img/wee.jpg" alt="">
    </div>
   </div>
  <div class="wrappper_seacrh" (click)="search()">
    <div class="seaching">
      <ion-icon name="location-outline"></ion-icon>
      <p>ຈຸດໝາຍປາຍທາງ</p>
    </div>
  </div>
<div class="wrapper_content">
 <div class="child_content">
  <div class="left" style="width: 50%;">
    <div class="icon">
      <ion-icon name="calendar-number-outline"></ion-icon>
    </div>
    <div class="date">
      <p>ແຊັກ-ອິນ</p>
      <div class="mydate">
        <strong>30</strong>
     
          <p>ພະຈິກ</p>
         
      </div>
    </div>
  </div>
  <div class="border">

  </div>
  <div class="left" style="width: 50%;">
   
    <div class="date">
      <p>ແຊັກ-ເອົ້າ</p>
      <div class="mydate">
        <strong>29</strong>
      
            <p>ເມສາ</p>
         
     
     
      </div>
    </div>
  </div>
 </div>

 
</div>
<div class="wrapper_content2">
  <div class="child_content2">
    <div class="left_room">
      <ion-icon name="bed-outline" ></ion-icon>
      
    </div>
    <div class="center_room">
     <p>5 <span>ຫ້ອງ</span></p>
    </div>
    <div class="right_room">
      <ion-icon name="add-circle-outline"color="primary" ></ion-icon>
      <ion-icon name="remove-circle-outline" ></ion-icon>

      
    </div>
  </div>
</div>
<div class="wrapper_content2">
  <div class="child_content2">
    <div class="left_room">
      <ion-icon name="accessibility-outline"></ion-icon>
      
    </div>
    <div class="center_room">
     <p>8 <span>ຄົນ</span></p>
    </div>
    <div class="right_room">
      <ion-icon name="add-circle-outline" color="primary"></ion-icon>
      <ion-icon name="remove-circle-outline" ></ion-icon>

      
    </div>
  </div>
</div><div class="wrapper_content2">
  <div class="child_content2">
    <div class="left_room">
      <ion-icon name="logo-ionitron"></ion-icon>
      
    </div>
    <div class="center_room">
     <p>2<span>ຄົນ</span></p>
    </div>
    <div class="right_room">
      <ion-icon name="add-circle-outline" color="primary" ></ion-icon>
      <ion-icon name="remove-circle-outline" ></ion-icon>

      
    </div>
  </div>
</div>
<div class="wrapper_content3">
  <div class="child_content3">
    <ion-button expand="block">
      <ion-icon name="search-outline" slot="start"></ion-icon>
      <p>ຄົ້ນນຫາ</p>
    </ion-button>
    </div>
    </div>
    <div class="wrapper_content4">
      <div class="child_content4">
        <div class="icon">
          <ion-icon name="moon-outline"></ion-icon>
        </div>
        <div class="contenttext">
          <p>ຄົ້ນນຫາໂຮງແຮມສຳລັບຄືນນີ້</p>
          <p>ໃຊ້ຕຳແໜ່ງປະຈູບັນສຳລບກນຄົ້ນຫາ!</p>
        </div>
        </div>
        </div>