<ion-header>
  <ion-toolbar color="primary">
    <ion-title>ດອນຈັນພາເລດ</ion-title>
    <ion-icon slot="end" name="heart-outline" color="danger"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
 
    <ion-slides
      
      #slider
      loop="true"
      pager="true"
      [options]="slideOpts"
      (ionSlideTouchEnd)="slideChanged()"
    >
      <ion-slide>
        <img src="../../assets/img/m1.jpg" height="200px" />
      </ion-slide>
      <ion-slide>
        <img src="../../assets/img/m2.jpg"height="200px" />
      </ion-slide>
      <ion-slide>
        <img src="../../assets/img/m3.jpg"height="200px" />
      </ion-slide>
    </ion-slides>
  

  <div class="wrappper">
    <div class="hotel_name">
      <h4>ໂຮງແຮມ ດອນຈັນພາເລດ</h4>
    
    </div>
    <div class="rate">
      <p>4.0</p>
    </div>
  
  </div>

  <div class="wrapper1">
      
    <ion-text color="dark">
      <p>ແຮງງານລາວ ຜູ້ທີ່ຫາກະເດີນທາງກັບມາ ລົບກວນອ່ານ 
        ຄຳສັ່ງແນະນຳ ວ່າແຮງງານລາວ ຜູ້ທີ່ຫາກະເດີນທາງກັບມາ ລົບກວນອ່ານ 
        ຄຳສັ່ງແນະນຳ ວ່າແຮງງານລາວ ຜູ້ທີ່ຫາກະເດີນທາງກັບມາ ລົບກວນອ່ານ 
        ຄຳສັ່ງແນະນຳ ວ່າ</p>
    </ion-text>
        </div>

<div class="wrapper3">
  <div class="contents">
    <div class="box">
      <p>ລາຄາ</p>
      <p>120000ກີບ/ຄືນ</p>
    </div>
    <div class="box">
      <p>ຄະແນນລີວິວ</p>
      <div class="rate">
        <p>4.0</p>
       <ion-icon color="warning" name="star"></ion-icon>
      <ion-icon color="warning" name="star"></ion-icon>
      <ion-icon color="warning" name="star"></ion-icon>
      <ion-icon color="warning" name="star"></ion-icon> 
      </div>
    </div>
  
  </div>
</div>
<div class="wrapper4">
  <div class="content4">
<div class="item">
  <ion-icon slot="start" color="success" name="checkmark-circle-outline"></ion-icon>
  <ion-label>ຟຣີ ອີນເຕີເນັດ ແບບໄຮ້ສາຍ</ion-label>
</div>
<div class="item">
  <ion-icon slot="start" color="success" name="checkmark-circle-outline"></ion-icon>
  <ion-label>ຟຣີ  ສະມາສທີວີ ພ້ອມເນັດຟລຶກ</ion-label>
</div><div class="item">
  <ion-icon slot="start" color="success" name="checkmark-circle-outline"></ion-icon>
  <ion-label>ຟຣີ ອາຫານເສົ້າ  ແລະກາເຟ</ion-label>
</div><div class="item">
  <ion-icon slot="   " color="success" name="checkmark-circle-outline"></ion-icon>
  <ion-label>ໂຮງແຮມ ປອດຂວັນຢາສູບ</ion-label>
</div>
    </div>
    </div>


  
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="onClick()" expand="full">
      ຈອງຫ້ອງດຽວນີ້
    </ion-button>
  </ion-toolbar>
</ion-footer>
