<ion-content [fullscreen]="true" class="fondologin">
  <!-- fhdkfhkdsjfh -->
  <ion-grid fixed>
    <ion-row>
      <ion-col size="8">
        <!-- <div class="img">
           <img src="../../assets/img/hottel.png" alt="">
         </div> -->
      </ion-col>
      <ion-col size="4" class="myright">
        <ion-card>
          <ion-card-content class="wrappper_content" (click)="gotoboo()">
            <ion-icon name="business-outline"></ion-icon>
            <h3>ຈອງໂຮງແຮມ</h3>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content class="wrappper_content">
            <ion-icon name="search"></ion-icon>
            <h3>ຄົ້ນຫາໂຮງແຮມ</h3>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content class="wrappper_content">
            <ion-icon name="locate"></ion-icon>
            <h3>ໂຮງແຮມໃກ້ຄຽງ</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>